.second-section-container {
  display: grid;
  grid-template-columns: 1fr 4.3fr;
  padding: 0 22px;
  grid-column-gap: 25px;
  margin: 25px 0px;
}

.second-section-container .summary-card {
  max-width: 100%;
  height: 235px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(192, 192, 192, 0.25);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
}

.second-section-container .information {
  max-width: 100%;
  height: 525px;
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(192, 192, 192, 0.25);
  border-radius: 6px;
}

.img-container {
  width: 31px;
  height: 31px;
  background: #00a2d6;
  border-radius: 6.32653px;
  align-items: center;
  justify-content: center;
}

.img-container img {
  align-self: center;
  margin: 5px;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 6px 0;
  align-items: center;
}

.header h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 140%;
  color: #0f1a4f;
  margin-left: 10px;
}
.link-text h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #5771ee;
}

.second-section-container .other-info {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
}

.vertical_dotted_line {
  border-left: 1px dashed #c4c4c4;
  height: 80px;
  position: absolute;
  top: 21px;
  left: 6px;
}

.other-info-items {
  margin: 13px 0;
  position: relative;
}

.other-info-item {
  display: flex;
  flex-direction: row;
  margin: 5px 0;
}

.other-info-item span {
  font-size: 2rem;
  margin-top: -10px;
  margin-right: 7px;
  color: #707070;
}

.other-info-items .time {
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 140%;
  color: #a1aace;
  margin-left: 19px;
}

.other-info-item p {
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 140%;
  color: #747474;
}

table {
  width: 100%;
  font-family: Google Sans;
  border-collapse: collapse;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
}

th {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #899198;
  background: #f3f6f9;
}

.last td {
  border: none !important;
}

.one {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #25213b;
}

.two {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #25213b;
}

.two .light {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #878592;
}

.status-purple span {
  padding: 8px;
  background: #f6f3ff;
  border-radius: 11px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #8c70ff;
}

.status-yellow span {
  padding: 8px;
  background: #fff6de;
  border-radius: 11px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #f4b400;
}

.low-risk,
.mid-risk,
.high-risk {
  position: relative;
}

.low-risk .icon,
.mid-risk .icon,
.high-risk .icon {
  position: absolute;
  left: 10px;
  font-size: 16px;
}

.text {
  margin-left: 20px;
}

.low-risk {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  color: #3ab65c;
}

.mid-risk {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  color: #3c3ab6;
}

.high-risk {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  color: #b63a3a;
}

.color {
  color: #105dcf !important;
}

.two p span {
  font-size: 15px;
}
