.nav-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  font-family: Google, "Sans";
  background: #ffffff;
  box-shadow: inset 0px -1px 0px rgba(220, 225, 231, 0.572143);
  padding: 5px 35px;
  height: 52px;
  justify-content: center;
  align-items: center;
}

.nav-logo {
  width: 16%;
}

.nav-logo ul {
  display: flex;
  flex-direction: row;
}

.nav-logo ul li {
  margin: 0 3px;
  list-style-type: none;
}

.nav-logo .logo-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.nav-links {
  width: 84%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-links-container ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.nav-links-container ul li {
  margin: 0 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #778699;
}
